
package-lock.json
client/package-lock.json
.idea/workspace.xml
.idea/workspace.xml
client/package-lock.json
.idea/workspace.xml
.idea/workspace.xml
.vscode/*
server/src/main/resources/application-prod.properties
server/src/main/resources/application.properties
smartteam/.idea/workspace.xml
client/src/constants/index.js
